@model Sistema.Models.Cidades

@{
    ViewData["Title"] = "Cidades";
}

<h1>Adicionar <small>Cidades</small></h1>

<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-md-12">
                <div class="row">
                    <div class="md-col-md-6">
                        <label asp-for="nmCidade" class="control-label"></label>
                        <input asp-for="nmCidade" class="form-control" />
                        <span asp-validation-for="nmCidade" class="text-danger"></span>
                    </div>
                    <div class="md-col-md-6">
                        <label asp-for="idEstado" class="control-label"></label>
                        <input asp-for="idEstado" class="form-control" />
                        <span asp-validation-for="idEstado" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="DDD" class="control-label"></label>
                    <input asp-for="DDD" class="form-control" />
                    <span asp-validation-for="DDD" class="text-danger"></span>
                </div>
            </div>
            <br />

            <div class="col-md-12">
                <div class="col-md-2">
                    <input type="submit" value="Salvar" class="btn btn-success" />
                    <button type="button" asp-action="Index" class="btn btn-danger">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
