@model Sistema.Models.Cidades

@{
    ViewData["Title"] = "Cidades";
}

<section>
    <div class="toolbar row">
        <div class="col-sm-6 hidden-xs">
            <div class="page-header">
                <h1>Cidades <small>Editar</small></h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-white">
                <div class="panel-body">

                    @{
                        ViewBag.pageType = "Edit";
                    }

                    @using (Html.BeginForm("Edit", "Cidades", FormMethod.Post, new { @class = "row g-3" }))
                    {
                        <partial name="~/Views/Shared/Cidades/Form.cshtml" model="Model"></partial>

                        <div class="col-12 mt-10">
                            <button type="submit" class="btn btn-success">Salvar</button>
                            <a href="@Url.Action("Index", "Cidades")" class="btn btn-primary">
                                Cancelar
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript" src="@Url.Content("~/js/Scripts/Estados/AddEstados.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/Scripts/Estados/SelecionaEstado.js")"></script>
}
