@model Sistema.Models.Estados

@{
    ViewData["Title"] = "Estados";
}

<h1>Adicionar <small>Estados</small></h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="nmEstado" class="control-label"></label>
                        <input asp-for="nmEstado" class="form-control" />
                        <span asp-validation-for="nmEstado" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="idPais" class="control-label"></label>
                        <input asp-for="idPais" class="form-control" />
                        <span asp-validation-for="idPais" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="flUF" class="control-label"></label>
                    <input asp-for="flUF" class="form-control" />
                    <span asp-validation-for="flUF" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="col-md-12">
                <div class="col-md-2">
                    <input type="submit" value="Salvar" class="btn btn-success" />
                    <button type="button" asp-action="Index" class="btn btn-danger">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
