<div class="col-md-8">
    @Html.Label("nmPais", "País", new { @class = "form-label" })
    <input id="nmPais" class="form-control" maxlenght="150" />
</div>

<div class="col-md-8">
    @Html.Label("sigla", "Sigla", new { @class = "form-label" })
    <input id="sigla" class="form-control" maxlenght="150" />
</div>

<div class="col-md-8">
    @Html.Label("DDI", "DDI", new { @class = "form-label" })
    <input id="DDI" class="form-control" maxlenght="150" />
</div>