<div class="table-responsive">
    <table class="table border text-nowrap text-md-nowrap mb-0">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Pais</th>
                <th scope="col" style="width: 200px"></th>
            </tr>
        </thead>
        <tbody id="bodyPaises">
        </tbody>
    </table>
</div>