<div class="table-responsive">
    <table id="tbClientes" class="table border text-nowrap text-md-nowrap mb-0">
        <thead>
            <tr>
                <th scope="col">Cliente</th>
                <th scope="col">CPF/CNPJ</th>                
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
