<div>
    <div class="col-md-8">
        @Html.Label("dsCondicaoPgto", "Condição Pgto", new { @class = "form-label" })
        <input id="dsCondicaoPgto" class="form-control" maxlenght="150" />
    </div>

    <div class="col-md-4">
    </div>

    <div class="col-md-4">
        @Html.Label("vlMulta", "Multa", new { @class = "form-label" })
        <input id="vlMulta" class="form-control" maxlenght="150" />
    </div>
    <div class="col-md-4">
        @Html.Label("vlDesconto", "Desconto", new { @class = "form-label" })
        <input id="vlDesconto" class="form-control" maxlenght="150" />
    </div>
    <div class="col-md-4">
        @Html.Label("vlJuros", "Juros", new { @class = "form-label" })
        <input id="vlJuros" class="form-control" maxlenght="150" />
    </div>
</div>