<div class="table-responsive">
    <table class="table border text-nowrap text-md-nowrap mb-0">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Condição Pgto</th>
                <th scope="col">Multa</th>
                <th scope="col">Desconto</th>
                <th scope="col">Juros</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="bodyCondicaoPgto">
        </tbody>
    </table>
</div>
