@model Sistema.Models.Paises

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Paises</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idPais" />
            <div class="form-group">
                <label asp-for="nmPais" class="control-label"></label>
                <input asp-for="nmPais" class="form-control" />
                <span asp-validation-for="nmPais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DDI" class="control-label"></label>
                <input asp-for="DDI" class="form-control" />
                <span asp-validation-for="DDI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sigla" class="control-label"></label>
                <input asp-for="sigla" class="form-control" />
                <span asp-validation-for="sigla" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dtCadastro" class="control-label"></label>
                <input asp-for="dtCadastro" class="form-control" />
                <span asp-validation-for="dtCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dtUltAlteracao" class="control-label"></label>
                <input asp-for="dtUltAlteracao" class="form-control" />
                <span asp-validation-for="dtUltAlteracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
