<div>
    <div class="col-md-8">
        @Html.Label("dsFormaPgto", "Forma de Pgto", new { @class = "form-label" })
        <input id="dsFormaPgto" class="form-control" maxlenght="150" />
    </div>
</div>