@model Sistema.Models.Categorias

@{
    ViewData["Title"] = "Categorias";
}

<h1>Adicionar <small>Categorias</small></h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nmCategoria" class="control-label"></label>
                <input asp-for="nmCategoria" class="form-control" />
                <span asp-validation-for="nmCategoria" class="text-danger"></span>
            </div>
            <br />
            <div class="col-md-12">
                <div class="col-md-6">
                    <input type="submit" value="Salvar" class="btn btn-success" />
                    <button type="button" asp-action="Index" class="btn btn-danger">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
