<div>
    <div class="col-md-8">
        @Html.Label("dsCondicaoPgto", "Condição Pgto", new { @class = "form-label" })
        <input id="dsCondicaoPgto" class="form-control" maxlenght="150" />
    </div>

    <div class="col-md-4">
    </div>

    <div class="col-md-4">
        @Html.Label("txMulta", "Multa", new { @class = "form-label" })
        <input id="txMulta" class="form-control" maxlenght="150" />
    </div>
    <div class="col-md-4">
        @Html.Label("txDesconto", "Desconto", new { @class = "form-label" })
        <input id="txDesconto" class="form-control" maxlenght="150" />
    </div>
    <div class="col-md-4">
        @Html.Label("txJuros", "Juros", new { @class = "form-label" })
        <input id="txJuros" class="form-control" maxlenght="150" />
    </div>
</div>