@model Sistema.Models.FormaPgto

@{
    ViewData["Title"] = "Excluir";
}

<section>
    <div class="toolbar row">
        <div class="col-sm-6 hidden-xs">
            <div class="page-header">
                <h1>Forma de Pgto <small>Excluir</small></h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-white">
                <div class="panel-body">

                    @{
                        ViewBag.pageType = "Delete";
                        ViewBag.disabledForm = true;
                    }

                    @using (Html.BeginForm("Delete", "FormaPgto", FormMethod.Post, new { @class = "row g-3" }))
                    {
                        <partial name="~/Views/Shared/FormaPgto/Form.cshtml" model="Model"></partial>

                        <div class="col-12 mt-10">
                            <button type="submit" class="btn btn-danger">Excluir</button>
                            <a href="@Url.Action("Index", "FormaPgto")" class="btn btn-primary">
                                Cancelar
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}