<div class="table-responsive">
    <table id="tbFuncionario" class="table border text-nowrap text-md-nowrap mb-0">
        <thead>
            <tr>
                <th scope="col">Funcionario</th>
                <th scope="col">CPF</th>                
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
