<div class="table-responsive">
    <table id="tbCidades" class="table border text-nowrap text-md-nowrap mb-0">
        <thead>
            <tr>
                <th scope="col">Cidade</th>
                <th scope="col">Estado</th>
                <th scope="col">País</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="bodyCidades">
        </tbody>
    </table>
</div>
