@model Sistema.Models.Fornecedores

@{
    ViewData["Title"] = "Fornecedores";
}

<section>
    <div class="toolbar row">
        <div class="col-sm-6 hidden-xs">
            <div class="page-header">
                <h1>Fornecedores <small>Excluir</small></h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-white">
                <div class="panel-body">

                    @{
                        ViewBag.pageType = "Delete";
                        ViewBag.disabledForm = true;
                    }

                    @using (Html.BeginForm("Delete", "Fornecedores", FormMethod.Post, new { @class = "row g-3" }))
                    {
                        @Html.Partial("Form", Model)

                        <div class="col-12 mt-10">
                            <button type="submit" class="btn btn-danger">Excluir</button>
                            <a href="@Url.Action("Index", "Fornecedores")" class="btn btn-primary">
                                Cancelar
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(document).ready(function () {
            $("#nrCNPJ").on('keyup change', function () {
                $(this).attr("placeholder", "__.___.___/____-__");
                $(this).mask("99.999.999/9999-99");
            });

            $("#nrTelefoneCelular").on('keyup change', function () {
                $(this).attr("placeholder", "(__) _____-____");
                $(this).mask("(99) 99999-9999");
            });

            $("#nrTelefoneFixo").on('keyup change', function () {
                $(this).attr("placeholder", "(__) ____-____");
                $(this).mask("(99) 9999-9999");
            });

            $("#nrCEP").on('keyup change', function () {
                $(this).attr("placeholder", "_____-___");
                $(this).mask("99999-999");
            });

            $("#nrCNPJ").change();
            $("#nrTelefoneCelular").change();
            $("#nrTelefoneFixo").change();
            $("#nrCEP").change();
        });
    </script>
}