@model Sistema.Models.Vendas

@{
    ViewData["Title"] = "Adicionar";
}

<section>
    <div class="toolbar row">
        <div class="col-sm-6 hidden-xs">
            <div class="page-header">
                <h1>Venda <small>Inserir</small></h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-white">
                <div class="panel-body">

                    @{
                        ViewBag.pageType = "Create";
                    }

                    @using (Html.BeginForm("Create", "Vendas", FormMethod.Post, new { @class = "row g-3", @id = "formSubmit" }))
                    {
                        <partial name="~/Views/Shared/Vendas/Form.cshtml" model="Model"></partial>

                        <div class="col-12 mt-10">
                            <button type="button" id="btnSubmit" class="btn btn-success" disabled="disabled">Salvar</button>
                            <a href="@Url.Action("Index", "Vendas")" class="btn btn-primary">
                                Cancelar
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script type="text/javascript" src="@Url.Content("~/js/Scripts/Vendas/Form.js")"></script>
    }
}
