<div class="table-responsive">
    <table id="tbFornecedores" class="table border text-nowrap text-md-nowrap mb-0">
        <thead>
            <tr>
                <th scope="col">Fornecedor</th>
                <th scope="col">CNPJ</th>                
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="bodyFornecedor">
        </tbody>
    </table>
</div>
