<div class="table-responsive">
    <table class="table border text-nowrap text-md-nowrap mb-0">
        <thead>
            <tr>
                <th scope="col">Unidade</th>
                <th scope="col">Sigla</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="bodyUnidades">
        </tbody>
    </table>
</div>
