<div>
    <div class="col-md-8">
        @Html.Label("nmCategoria", "Categoria", new { @class = "form-label" })
        <input id="nmCategoria" class="form-control" maxlenght="150" />
    </div>
</div>