<div class="table-responsive">
    <table id="tbProdutos" class="table border text-nowrap text-md-nowrap mb-0" style="width: 100% !important">
        <thead>
            <tr>
                <th scope="col">idProduto</th>
                <th scope="col">Produto</th>
                <th scope="col">idUnidade</th>
                <th scope="col">Unidade</th>
                <th scope="col">Estoque</th>
                <th scope="col">vl. Venda</th>
                <th scope="col">idFornecedor</th>
                <th scope="col">Fornecedor</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
