<div class="table-responsive">
    <table id="tbCategorias" class="table border text-nowrap text-md-nowrap mb-0">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Categoria</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="bodyCategorias">
        </tbody>
    </table>
</div>
