@model Sistema.Models.Clientes

@{
    ViewData["Title"] = "Clientes";
}

<section>
    <div class="toolbar row">
        <div class="col-sm-6 hidden-xs">
            <div class="page-header">
                <h1>Clientes <small>Visualizar</small></h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-white">
                <div class="panel-body">

                    @{
                        ViewBag.pageType = "Details";
                        ViewBag.disabledForm = true;
                    }

                    @using (Html.BeginForm("Details", "Clientes", FormMethod.Post, new { @class = "row g-3" }))
                    {
                        @Html.Partial("Form", Model)

                        <div class="col-12 mt-10">
                            <a href="@Url.Action("Index", "Clientes")" class="btn btn-primary">
                                Cancelar
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(document).ready(function () {
            $("#flTipo").on('change', function () {
                if ($(this).val() == "F") {
                    $(".labelCPFCNPJ").text("CPF");
                    $(".labelNmFantasia").text("Apelido");
                    $(".labelRG_IE").text("RG");
                    $(".labelDtNasc").text("Data de Nascimento");
                    $("#nrCPFCNPJ").attr("placeholder", "___.___.___-__");
                    $("#nrRG_IE").attr("placeholder", "__.___.___-_");
                }
                else {
                    $(".labelCPFCNPJ").text("CNPJ");
                    $(".labelNmFantasia").text("Nome Fantasia");
                    $(".labelRG_IE").text("Inscr. Estadual");
                    $(".labelDtNasc").text("Data de Fundação");
                    $("#nrCPFCNPJ").attr("placeholder", "__.___.___/____-__");
                }
            });

            $("#nrCPFCNPJ").on('keyup change', function () {
                if ($("#flTipo").val() == "F") {
                    $("#nrCPFCNPJ").mask("999.999.999-99");
                    $("#nrRG_IE").mask("99.999.999-9");
                }
                else {
                    $("#nrCPFCNPJ").mask("99.999.999/9999-99");
                }
            });

            $("#nrRG_IE").on('keyup change', function () {
                if (("#flTipo").val() == "F")
                    $("#nrRG_IE").mask("99.999.999-9");
                else
                    $("#nrRG_IE").mask("");
            });

            $("#nrCEP").on('keyup change', function () {
                $(this).mask("99999-999");
            });

            $("#nrTelefoneCelular").on('keyup change', function () {
                $(this).mask("(99) 99999-9999");
            });

            $("#nrTelefoneFixo").on('keyup change', function () {
                $(this).mask("(99) 9999-9999");
            });

            $("#flTipo").change();
            $("#nrCPFCNPJ").change();
            $("nrRG_IE").change();
            $("#nrCEP").change();
            $("#nrTelefoneCelular").change();
            $("#nrTelefoneFixo").change();
        });
    </script>
}
